# TwinCAT

*.tpy
*.tclrs
*.compiled-library
*.compileinfo
*.tmc
*.tmcRefac
*.library
*.project.~u
*.tsproj.bak
*.xti.bak
*.plcproj.bak
*.plcproj.orig
*.asm
*.core
*.tsproj.b?k
*.tsproj.orig
*.xti.bk?
*.xti.orig
*.xtv
*.xtv.bak
*.xtv.bk?
LineIDs.dbg
LineIDs.dbg.bak
_Boot/
_CompileInfo/
_Libraries/
_ModuleInstall/
_UserDB/
**/.TcGit/
**/_Boot/
**/_CompileInfo/
**/_Libraries/
**/_ModuleInstall/
**/_Deployment/
**/_Repository/

# TwinCat HMI

.engineering_servers/
liveview_*
*.cache
*.db-shm
*.db-wal
*.pid
.hmiframework/
.hmipkgs/*-*-*-*/
tchmipublish.journal.json
*/bin/*
*.hmiproj.user

# Visual Studio

.vs/
**/.vs/
*.~u
*.suo
